<nav aria-label="...">
        <ul class="pagination pagination-sm gap-2">
            {% if page_obj.number != 1 and page_obj.previous_page_number != 1 %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item">...</li>
            {% endif %}
            
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            
            {% if page_obj.number != page_obj.paginator.num_pages and page_obj.next_page_number != page_obj.paginator.num_pages %}
                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                    <li class="page-item">...</li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
</nav>