{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    <div class="d-flex gap-5">
        <h1>New Question</h1>
    </div>
{% endblock %}

{% block content %}
    <form>
        <div class="m-1">
            <div class="row">
                <label for="title" class="col-1">Title</label>
                <textarea id="title" style="max-width: 800px" class="col form-control mb-3" aria-label="title"
                          placeholder="How to build a moon park?"></textarea>
            </div>

            <div style="min-height: 300px" class="row">
                <label for="text" class="col-1">Text</label>
                <textarea id="text" style="max-width: 800px" class="col form-control mb-3" aria-label="text" placeholder="Really, how?
Have no idea about it"></textarea>
            </div>

            <div class="row">
                <label for="tags" class="col-1">Tags</label>
                <textarea id="Tags" style="max-width: 800px" class="col form-control mb-3" aria-label="tags"
                          placeholder="moon, park, puzzle"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-sm">ASK!</button>
        </div>
    </form>

{% endblock %}