{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    <div class="d-flex gap-5">
        {% if hot == "hot" %}
            <h1>Hot Questions</h1>
            <a class="align-content-center" href="{% url 'questions_listing' %}">New Questions</a>
        {% else %}
            {% if tag %}
                <h1>Tag: {{ tag }}</h1>
            {% else %}
                {% if hot == Null %}
                    <h1>New Questions</h1>
                    <a class="align-content-center" href="{% url 'hot_questions' is_hot="hot" %}">Hot Questions</a>
                {% endif %}

            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    {% for question in questions %}
        <div class="d-flex card mb-3">
            <div class="row m-1">
                <div class="col-1 align-content-center">
                    <img class="img-fluid" src="{% static 'img/question.jpg' %}" alt="Card Image">
                    <input style="margin-top: 5px" class="form-control" type="number" value="5" aria-label="likes">
                </div>

                <div class="card-body col-11">
                    <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
                    <p class="card-text">{{ question.text }}</p>

                    <a href="#" class="card-link">Answer (3)</a>

                    <div class="d-flex justify-content-end gap-1">
                        Tags:
                        <section>
                            {% for tag in question.tags %}
                                <span class="badge rounded-pill text-bg-primary"><a
                                        href="{% url 'tag_questions' tag=tag %}"
                                        style="text-decoration: none; color: white">{{ tag }}</a></span>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'layouts/pagination.html' %}
    
{% endblock %}