{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex mb-3">
        <div class="row m-1">
            <div class="col-1 align-content-center">
                <img class="img-fluid" src="{% static 'img/question.jpg' %}" alt="Card Image">
                <input style="margin-top: 5px" class="form-control" type="number" value="5" aria-label="likes">
            </div>

            <div class="card-body col-11">
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.text }}</p>

                <div class="d-flex justify-content-start gap-1">
                    Tags:
                    <section>
                        {% for tag in question.tags %}
                            <span class="badge rounded-pill text-bg-primary"><a href="{% url 'tag_questions' tag %}"
                                                                                style="text-decoration: none; color: white">{{ tag }}</a></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    {% for answer in answers %}
        <div class="d-flex card mb-3">
            <div class="row m-1">
                
                <div class="col-1 align-content-center my-2">
                    <img class="img-fluid" src="{% static 'img/avatar2.jpg' %}" alt="Card Image">
                    <input style="margin-top: 5px" class="form-control" type="number" value="{{ answer.answer_rating }}"
                           aria-label="likes">
                </div>

                <div class="card-body col-11">
                    <p class="card-text">{{ answer.answer_text }}</p>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">Correct!</label>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'layouts/pagination.html' %}

    <hr class="my-4">

    <div class="input-group">
        <textarea style="min-height: 100px" class="form-control mb-3" aria-label="answer"
                  placeholder="Enter your answer here."></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Answer</button>

{% endblock %}
